* {
    font-family: 'Titillium Web', sans-serif;
}

#page-title {
    font-size: 45px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}

#get-forecast {
    font-weight: 300;
    color: white;
}

#previous-searches,
#current-weather, 
#weather-display {
   background-color: rgb(133, 130, 130)!important;
}

#form-control {
    margin-left: 2px;
}

#current-weather {
    font-weight: 800;
    letter-spacing: 1px;
}

#weather-display {
    display: none;
}

#fiveDay-forecast .card {
    border: 1.5px solid rgb(7, 7, 7);
    margin-right: 10px;
}

.city-list {
    font-size: 25px;
    cursor: pointer;
}

#fiveDay-forecast {
    display: flex;
    flex-wrap: wrap;
}