* {
    font-family: 'Titillium Web', sans-serif;
}

#page-title {
    font-size: 45px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}

#form-control {
    margin-left: 2px;
}

#weather-display {
    display: none;
}

#uv-status-color {
    color: #4D4F53!important;
    color: violet;
}